.navbar {
  display: flex;
  justify-content: space-between;
  font-family: Sans-serif;
  align-items: center;
  background-color: #333333f1;
  color: #333333f1;
  padding: 1rem;
  border-radius: 29px;
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fdd90dee;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-center-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding: 10px 0;
  background-color: #f0f2f5;
  border-radius: 29px;
}

.custom-search-button.ant-btn {
  border-radius: 29px; 
  color: #fdd90dee;
  background-color: #333333f1;
}

.custom-search-button.ant-btn:hover {
  background-color: #555;
  border-color: #555;     
  opacity: 0.8;         
}


